
.topnav a{
  align-items: center;
  padding: 10px 0 10px 28px;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 15px;
  text-decoration: none;
}

/* Button in home page */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Arial";
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #50C7C7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}

button:hover {background-color: #3D8282;
}

button:active {
background-color: #AEB8B8;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
transform: translateY(4px);
}

p{
  display: none;
}

/* Home page background */
.mainPage{
  background-image: url(https://i.imgur.com/FlkQWNZ.jpg);
}


body{
  width: 100%;
  height: 500%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

/* footer/links */
footer{
  border: none;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

ul li a {
  display: inline-block;
  padding: 15 px 25px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
  font-weight: 600;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
  transition: all ease 0.5s;
}


/* Modal Popup */

.popupOverlay{
  background-color: rgba(0,0,0, .8);
  border: solid 2px #666;
  padding: 2rem;
  cursor: default;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.popupContent{
  background-color: white;
  border: solid 2px #666;
  border-radius: 15px;
  box-shadow: 3px 3px 6px rgb(0,0,0, .3);
  padding: 4rem;
  width: 50%;
  position: absolute;
  left: 25%;
  visibility: hidden;
  font-family: "Arial";
  color: gray;
}

.popupContent p {
  display: block;
}

.active {
  visibility: visible;
}

/* ABoutMe html page */
.aboutPage {
  background-color: #E6E6E6;
}

.p1{
  display: block;
}

.container{
  padding-left: 200px;
  padding-right: 200px;
}
 
/* Resume html page */
.resumePage{
  background-color: #E6E6E6;
}


/* Project html page */
.projectPage{
  background-color: #E6E6E6;
}

